.side 
  padding: 0
  margin: 0
  height: 100%
  background-color: #eee
  display: flex
  align-items: center
    
.side-one 
  display: block
  padding: 2%
  margin: 0
  height: 95%
  float: right
  width: 70%
  z-index: 1
  position: relative
  border-radius: 30px

.headings 
  display: flex
  text-align: center
  align-items: center
  padding: 0
  margin: 0
  height: 15%
  width: 100%
  background-color: #eee
  z-index: 1000

.usercard
    height: 60%
    background-color: #fff
    border-radius: 10px
    .user   
        height: 50% 
        display: flex
        justify-content: center
        align-items: center
        img
            border-radius: 50%
    .profil
        height: 50%
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        p
            position: relative
            top: -20px
            color: #E2296D
        .btn
            position: relative
            top: -20px
            background-color: #5c2d91
            width: 60%
            height: 40px
            color: white

.navigation
    position: relative
    height: 15%
    padding-top: 200px
    display: flex
    justify-content: center
    text-align: center
    background-color: #fff
    border-radius: 10px
    overflow: visible
    ul
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 350px
        .indicator
            position: absolute
            top: -20px
            right: 0px
            width: 70px
            height: 70px
            background: #E2296D
            border-radius: 50%
            border: 8px solid #eee
            transition: 0.5s
        .indicator-right
            position: absolute
            top: 0%
            right: 86px
            width: 30px
            height: 30px
            background: white
            border-top-right-radius: 20px
            box-shadow: 8px -10px 0 0 #eee
            transition: 0.5s
        .indicator-left
            position: absolute
            top: 0%
            left: 293px
            width: 30px
            height: 30px
            background: white
            border-top-left-radius: 20px
            box-shadow: -8px -10px 0 0 #eee
            transition: 0.5s

        li
            position: relative
            display: flex
            justify-content: center
            align-items: center
            list-style: none
            height: 70px
            width: 70%
            z-index: 1
            a 
                pointer-events: none
                position: relative
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                text-align: center
                width: 100%
                font-weight: 500
                .icon
                    top: -30px
                    position: relative
                    display: block
                    line-height: 75px
                    font-size: 2em
                    text-align: center
                    transition: 0.5s
                    color: #DDD
                    pointer-events: none
                .text
                    pointer-events: none
                    position: absolute
                    top: 60%
                    color: #000
                    font-weight: 600
                    font-size: 1em
                    letter-spacing: 0.05em
                    transition: 0.5s
                    opacity: 1           

.copyright
    opacity: 0.3
    text-align: center