html,
body,
div,
span {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*{
  margin: 0px !important;
  padding: 0px !important;
}

body {
  background: url("./../public/img/bg.png") no-repeat fixed center;
  background-size: cover;
}

.fa-2x {
  font-size: 1.5em;
}


.banner{
  width: 100%;
  height: 140px;
  background: linear-gradient(180deg, rgba(92,22,136,1) 0%, rgba(171,36,144,1) 100%);
  position: fixed;
}

.container{
  margin: auto !important;
}

.app {
  position: relative;
  overflow: hidden;
  top: 19px;
  height: calc(100% - 38px);
  margin: auto;
  padding: 0;
}

.app-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 30px;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 30px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .06), 0px 2px 5px 0 rgba(0, 0, 0, .2);
}