@font-face {
  font-family: "ProximusRegular";
  src: local("ProximusRegular"),
   url("./font/Proximus-Regular.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'ProximusRegular',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

