.heading-avatar-icon>img 
        width: 40px
        height: auto

.heading-avatar 
        padding: 10px 0 0 15px !important
        cursor: pointer

.heading-name 
        padding: 0 !important
        cursor: pointer
        display: flex
        align-items: center

.fa-solid
        padding: 10px 10px 0 10px !important
        
