/*Reply*/

.reply 
  display: flex
  align-items: center
  justify-content: space-between
  height: 8%
  width: 93%
  background-color: #5c2d91
  margin-right: 5%
  padding: 1% !important
  margin: 0 !important
  border-radius: 10px
  z-index: 1000

.reply-main 
  padding: 1% 3% !important

.reply-main textarea 
  width: 100%
  resize: none
  overflow: hidden
  padding: 5px !important
  outline: none
  border: none
  text-indent: 5px
  box-shadow: none
  height: 100%
  font-size: 16px

.reply-main textarea:focus 
  outline: none
  border: none
  text-indent: 5px
  box-shadow: none

.reply-recording 
  padding: 1% 3% !important
  border-radius: 10px
  display: flex
  justify-content: center
  align-items: center


// .reply-recording i 
//   text-align: center
//   padding: 0px !important
//   color: #c71515
//   cursor: pointer


.reply-send 
  padding: 1% 3% !important
  margin: 1%
  border-radius: 10px
  display: flex
  justify-content: center
  align-items: center

// .reply-send i 
//   text-align: center
//   padding:0px !important
//   color: #fb0000
//   cursor: pointer

.fa-1x 
  font-size: 1.5em !important


@media screen and (max-width: 700px) 
  
  .reply 
    height: 70px
  
  .reply-emojis 
    padding: 5px 0 !important
  
  .reply-emojis i 
    padding: 5px 2px !important
    font-size: 1.8em !important
  
  .reply-main 
    padding: 2px 8px !important
  
  .reply-main textarea 
    padding: 8px !important
    font-size: 18px
  
  .reply-recording 
    padding: 5px 0 !important
    background-color: white 
    border-radius: 35px 
  
  .reply-recording i 
    padding: 5px 0 !important
    font-size: 1.8em !important

  
  .reply-send 
    padding: 5px 0px !important
  
  .reply-send i 
    font-size: 1.8em !important
  
  
  