/*Reply*/

.reply 
  height: 60px
  width: 100%
  background-color: #E2296D
  padding: 10px 5px 10px 5px !important
  margin: 0 !important
  z-index: 1000


.reply-emojis 
  padding: 5px !important


.reply-emojis i 
  text-align: center
  padding: 5px 5px 5px 5px !important
  color: #ffffff
  cursor: pointer


.reply-recording 
  padding: 3px !important


.reply-recording i 
  text-align: center
  padding: 3px !important
  color: #ffffff
  cursor: pointer


.reply-send 
  padding: 3px !important


.reply-send i 
  text-align: center
  padding: 3px !important
  color: #ffffff
  cursor: pointer


.reply-main 
  padding: 2px 5px !important


.reply-main textarea 
  width: 100%
  resize: none
  overflow: hidden
  padding: 5px !important
  outline: none
  border: none
  text-indent: 5px
  box-shadow: none
  height: 100%
  font-size: 16px


.reply-main textarea:focus 
  outline: none
  border: none
  text-indent: 5px
  box-shadow: none


@media screen and (max-width: 700px) 
  
  .reply 
    height: 70px
  
  .reply-emojis 
    padding: 5px 0 !important
  
  .reply-emojis i 
    padding: 5px 2px !important
    font-size: 1.8em !important
  
  .reply-main 
    padding: 2px 8px !important
  
  .reply-main textarea 
    padding: 8px !important
    font-size: 18px
  
  .reply-recording 
    padding: 5px 0 !important
  
  .reply-recording i 
    padding: 5px 0 !important
    font-size: 1.8em !important
  
  .reply-send 
    padding: 5px 0 !important
  
  .reply-send i 
    padding: 5px 2px 5px 0 !important
    font-size: 1.8em !important
  
